#welcome_P{
    animation: downandleft 3s forwards;
    -webkit-animation: downandleft 3s forwards;
    -o-animation: downandleft 3s forwards;
}





@keyframes downandleft {
    0.000%{top:0.4310344827586207%;left: 10%}
    2.200%{top:1.7241379310344829%}
    4.400%{top:3.8793103448275863%}
    6.600%{top:6.8965517241379315%}
    8.800%{top:10.775862068965518%}
    11.000%{top:15.517241379310345%}
    13.200%{top:21.120689655172416%}
    15.400%{top:27.586206896551726%}
    17.600%{top:34.91379310344827%}
    19.800%{top:43.10344827586207%}
    22.000%{top:37.5%}
    24.200%{top:32.758620689655174%}
    26.400%{top:28.879310344827584%}
    28.600%{top:25.862068965517242%}
    30.800%{top:23.706896551724135%}
    33.000%{top:22.413793103448274%}
    35.200%{top:21.98275862068965%}
    37.400%{top:22.413793103448274%}
    39.600%{top:23.706896551724135%}
    41.800%{top:25.862068965517242%}
    44.000%{top:28.879310344827584%}
    46.200%{top:32.758620689655174%}
    48.400%{top:37.5%}
    50.600%{top:43.10344827586207%}
    52.800%{top:39.310344827586206%}
    55.000%{top:36.37931034482759%}
    57.200%{top:34.310344827586206%}
    59.400%{top:33.10344827586207%}
    61.600%{top:32.758620689655174%}
    63.800%{top:33.275862068965516%}
    66.000%{top:34.6551724137931%}
    68.200%{top:36.89655172413793%}
    70.400%{top:40%}
    72.600%{top:37.95689655172414%}
    74.800%{top:36.77586206896552%}
    77.000%{top:36.45689655172414%}
    79.200%{top:37%}
    81.400%{top:38.40517241379311%}
    83.600%{top:40.67241379310345%}
    85.800%{top:39.21465517241379%}
    88.000%{top:38.61896551724138%}
    90.200%{top:38.88534482758621%}
    92.400%{top:40.01379310344827%}
    94.600%{top:39.35318965517241%}
    96.800%{top:39.55465517241379%}
    99.000%{top:40.61818965517241%}
    100%{top:40.00302586206896%;left: 30%}
}
@-webkit-keyframes downandleft {
    0.000%{top:0.4310344827586207%;left: 10%}
    2.200%{top:1.7241379310344829%}
    4.400%{top:3.8793103448275863%}
    6.600%{top:6.8965517241379315%}
    8.800%{top:10.775862068965518%}
    11.000%{top:15.517241379310345%}
    13.200%{top:21.120689655172416%}
    15.400%{top:27.586206896551726%}
    17.600%{top:34.91379310344827%}
    19.800%{top:43.10344827586207%}
    22.000%{top:37.5%}
    24.200%{top:32.758620689655174%}
    26.400%{top:28.879310344827584%}
    28.600%{top:25.862068965517242%}
    30.800%{top:23.706896551724135%}
    33.000%{top:22.413793103448274%}
    35.200%{top:21.98275862068965%}
    37.400%{top:22.413793103448274%}
    39.600%{top:23.706896551724135%}
    41.800%{top:25.862068965517242%}
    44.000%{top:28.879310344827584%}
    46.200%{top:32.758620689655174%}
    48.400%{top:37.5%}
    50.600%{top:43.10344827586207%}
    52.800%{top:39.310344827586206%}
    55.000%{top:36.37931034482759%}
    57.200%{top:34.310344827586206%}
    59.400%{top:33.10344827586207%}
    61.600%{top:32.758620689655174%}
    63.800%{top:33.275862068965516%}
    66.000%{top:34.6551724137931%}
    68.200%{top:36.89655172413793%}
    70.400%{top:40%}
    72.600%{top:37.95689655172414%}
    74.800%{top:36.77586206896552%}
    77.000%{top:36.45689655172414%}
    79.200%{top:37%}
    81.400%{top:38.40517241379311%}
    83.600%{top:40.67241379310345%}
    85.800%{top:39.21465517241379%}
    88.000%{top:38.61896551724138%}
    90.200%{top:38.88534482758621%}
    92.400%{top:40.01379310344827%}
    94.600%{top:39.35318965517241%}
    96.800%{top:39.55465517241379%}
    99.000%{top:40.61818965517241%}
    100%{top:40.00302586206896%;left: 30%}
}
@-moz-keyframes downandleft {
    0.000%{top:0.4310344827586207%;left: 10%}
    2.200%{top:1.7241379310344829%}
    4.400%{top:3.8793103448275863%}
    6.600%{top:6.8965517241379315%}
    8.800%{top:10.775862068965518%}
    11.000%{top:15.517241379310345%}
    13.200%{top:21.120689655172416%}
    15.400%{top:27.586206896551726%}
    17.600%{top:34.91379310344827%}
    19.800%{top:43.10344827586207%}
    22.000%{top:37.5%}
    24.200%{top:32.758620689655174%}
    26.400%{top:28.879310344827584%}
    28.600%{top:25.862068965517242%}
    30.800%{top:23.706896551724135%}
    33.000%{top:22.413793103448274%}
    35.200%{top:21.98275862068965%}
    37.400%{top:22.413793103448274%}
    39.600%{top:23.706896551724135%}
    41.800%{top:25.862068965517242%}
    44.000%{top:28.879310344827584%}
    46.200%{top:32.758620689655174%}
    48.400%{top:37.5%}
    50.600%{top:43.10344827586207%}
    52.800%{top:39.310344827586206%}
    55.000%{top:36.37931034482759%}
    57.200%{top:34.310344827586206%}
    59.400%{top:33.10344827586207%}
    61.600%{top:32.758620689655174%}
    63.800%{top:33.275862068965516%}
    66.000%{top:34.6551724137931%}
    68.200%{top:36.89655172413793%}
    70.400%{top:40%}
    72.600%{top:37.95689655172414%}
    74.800%{top:36.77586206896552%}
    77.000%{top:36.45689655172414%}
    79.200%{top:37%}
    81.400%{top:38.40517241379311%}
    83.600%{top:40.67241379310345%}
    85.800%{top:39.21465517241379%}
    88.000%{top:38.61896551724138%}
    90.200%{top:38.88534482758621%}
    92.400%{top:40.01379310344827%}
    94.600%{top:39.35318965517241%}
    96.800%{top:39.55465517241379%}
    99.000%{top:40.61818965517241%}
    100%{top:40.00302586206896%;left: 30%}
 }
 @-o-keyframes downandleft {
     0.000%{top:0.4310344827586207%;left: 10%}
     2.200%{top:1.7241379310344829%}
     4.400%{top:3.8793103448275863%}
     6.600%{top:6.8965517241379315%}
     8.800%{top:10.775862068965518%}
     11.000%{top:15.517241379310345%}
     13.200%{top:21.120689655172416%}
     15.400%{top:27.586206896551726%}
     17.600%{top:34.91379310344827%}
     19.800%{top:43.10344827586207%}
     22.000%{top:37.5%}
     24.200%{top:32.758620689655174%}
     26.400%{top:28.879310344827584%}
     28.600%{top:25.862068965517242%}
     30.800%{top:23.706896551724135%}
     33.000%{top:22.413793103448274%}
     35.200%{top:21.98275862068965%}
     37.400%{top:22.413793103448274%}
     39.600%{top:23.706896551724135%}
     41.800%{top:25.862068965517242%}
     44.000%{top:28.879310344827584%}
     46.200%{top:32.758620689655174%}
     48.400%{top:37.5%}
     50.600%{top:43.10344827586207%}
     52.800%{top:39.310344827586206%}
     55.000%{top:36.37931034482759%}
     57.200%{top:34.310344827586206%}
     59.400%{top:33.10344827586207%}
     61.600%{top:32.758620689655174%}
     63.800%{top:33.275862068965516%}
     66.000%{top:34.6551724137931%}
     68.200%{top:36.89655172413793%}
     70.400%{top:40%}
     72.600%{top:37.95689655172414%}
     74.800%{top:36.77586206896552%}
     77.000%{top:36.45689655172414%}
     79.200%{top:37%}
     81.400%{top:38.40517241379311%}
     83.600%{top:40.67241379310345%}
     85.800%{top:39.21465517241379%}
     88.000%{top:38.61896551724138%}
     90.200%{top:38.88534482758621%}
     92.400%{top:40.01379310344827%}
     94.600%{top:39.35318965517241%}
     96.800%{top:39.55465517241379%}
     99.000%{top:40.61818965517241%}
     100%{top:40.00302586206896%;left: 30%}
  }